<div id="sidebarContainer">
  <div id="sidebarContainer2">
    <div *ngIf="visState | async as vis">
      <div id="userContainer">
        user
        <div id="username">
          <div id="usercircle"></div>
          {{vis.user.name}}
        </div>
      </div>
    </div>
    <div id="channelContainer">
      <div id="channelHeader">
        Channels
        <button id="addtopicbutton" (click)="sendMessageToParent()">+</button>
      </div>
      <div *ngIf="topics | async as topicsAsync">
      <ul>
        <li (click)="anchorClick(topic.id, topic.name)" *ngFor="let topic of topicsAsync">
          # {{topic.name}}
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
