<app-sidebar></app-sidebar>

<div id=mainchatContainer>
  <div id="chatheader">
    <div>
    <div id="topicTitle">
      # {{topicName}}
    </div>
    <div id="headerbuttonleft">
        <button class="headerButton"><i class="far fa-star"></i></button>
        <button class="headerButton"><i class="far fa-user"></i></button>
        <button class="headerButton"><i class="fas fa-thumbtack"></i></button>
    </div>
    </div>
    <div id="chatheader-right">
      <button (click)="gotoDetail()"><i class="fas fa-info-circle"></i></button>
    </div>
  </div>
  <div id="mainContainerContainer">
  <div id="mainContainer">
    <div id="maincon">
      <div id="main">
        <ul>
        <li *ngFor="let talk of talks | async">
          <div class="chatContainer">
            <img src="assets/slackIcon.png">
            <div class="chatContainermain">
              <div id="talkUsername">
                {{talk.userName}}
              </div>
              <div id="talkContainer">
                {{talk.talk}}
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
      <div id="inputContainer">
        <div id="chatInputContainer">
          <button>+</button>
          <input  #box (keyup.enter)="onEnter(box.value)" type="text" class="chatInput">
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  </div>



</div>
