#mainchatContainer{
  position: absolute;
  height: 100%;
  width: calc(100% - 220px);
  left: 220px;
}

.chatInput{
  width: 100%;
  font-size: 30px;
  color: #a0a0a2;
  border: none;

  outline: none;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li{
  padding: 5px;
}

#mainContainer{
  display: flex;
  height: 100%;
}

#mainContainerContainer{
  height: calc(100% - 85px);
}

#maincon{
  width: 100%;
}

#main{
  height: calc(100% - 100px);
  overflow: scroll;
  margin: 10px;
}

#inputContainer{
  height: 80px;
}
#talkContainer{
  margin-right: 20px;
}

#searchField{
  border: 1px solid rgba(18, 25, 27, 0.82);
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  width: 200px;
  transition: width .2s ease-out;
  height: 30px;
  padding-left:30px;
  background: url('/assets/magnifying-glass.png') no-repeat scroll 7px 7px;
  background-size: 16px 16px;


}

#infoButton{

}

#searchField:focus{
  width: 300px;
}

.chatContainer{
  display: flex;
  word-break:break-all;

}
img{
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.chatContainermain{
  margin-left: 10px;
}

#talkUsername{
  font-weight: 900;
}

button{
  background: transparent;
  font-size: 30px;
  color: #a0a0a2;
  border: none;
  outline: none;
}
#topicTitle{
  font-size: 20px;
  font-weight: 900;
}

#chatheader{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #a0a0a2;
}

.headerButton{
  font-size: 12px;
}

#chatheader-right{
  margin-left: auto;
  display: flex;
  align-items: center;

}

/* button:hover{
  background: #54b087;
  color: #e6e6e6;
} */

.chatInput{
  width: 90%;
  border-left: 3px solid #a0a0a2;
  font-size: 30px;
}

#chatInputContainer{
  display: flex;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  /* position: absolute; */
  bottom: 40px;
  border: 3px solid #a0a0a2;
  border-radius: 10px;
}
