#mainchatContainer{
  position: absolute;
  height: 100%;
  width: calc(100% - 220px);
  left: 220px;
}

.chatInput{
  width: 100%;
  font-size: 30px;
  color: #a0a0a2;
  border: none;

  outline: none;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li{
  padding: 5px;
}

#mainContainer{
  display: flex;
  height: 100%;
}

#mainContainerContainer{
  height: calc(100% - 85px);
}

#maincon{
  width: 100%;
}

#main{
  height: calc(100% - 100px);
  overflow: scroll;
  margin: 10px;
}

#inputContainer{
  height: 80px;
}
#talkContainer{
  margin-right: 20px;
}

#searchField{
  border: 1px solid rgba(18, 25, 27, 0.82);
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  width: 200px;
  transition: width .2s ease-out;
  height: 30px;
  padding-left:30px;
  background: url('/assets/magnifying-glass.png') no-repeat scroll 7px 7px;
  background-size: 16px 16px;


}

#infoButton{

}

#searchField:focus{
  width: 300px;
}

.chatContainer{
  display: flex;
  word-break:break-all;

}
img{
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.chatEmoji{
  height: 15px;
  width: 15px;
}

.chatContainermain{
  margin-left: 10px;
}

#talkUsername{
  font-weight: 900;
}

button{
  background: transparent;
  font-size: 30px;
  color: #a0a0a2;
  border: none;
  outline: none;
}
#topicTitle{
  font-size: 20px;
  font-weight: 900;
}

#chatheader{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #a0a0a2;
}

.headerButton{
  font-size: 12px;
}

#chatheader-right{
  margin-left: auto;
  display: flex;
  align-items: center;

}

/* button:hover{
  background: #54b087;
  color: #e6e6e6;
} */

.chatInput{
  width: 90%;
  border-left: 3px solid #a0a0a2;
  font-size: 30px;
}

.chatList:hover{
  background: rgba(171, 196, 203, .1);
  position: relative;
}

.popupButton{
  font-size: 15px;
  border-right: 1px solid rgba(171, 196, 203, 1);
}

.popupButton:hover{
  color: rgb(37, 94, 147);
}

#emojiContainer{
  position: absolute;
  height: 100px;
  width: 200px;
  border:  1px solid rgba(171, 196, 203, .1);
  box-shadow: 1px 1px 1px rgba(171, 196, 203, .6), -1px -1px 1px rgba(171, 196, 203, .6);
  border-radius: 10px;
  background: white;
}

#emojigroup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lastbutton{
  border: none;
}


.chatList:hover > .chatpopupMenu{
  visibility: visible;
}

.chatpopupMenu{
  /* background: black; */
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  width: 90px;
  position: absolute;
  right: 50px;
  top: 0px;
  box-shadow: 1px 1px 1px black;
  visibility: hidden;
}

.star{
  color: #f7cd46;
}

.pin{
  color: #e16940;
}

.emojiChatContainer{
  display: flex;
}

.starComment{
  font-size: 13px;
  color: rgb(105, 130, 135);
  margin-bottom: 3px;
}

.emojiComment{
  font-size: 13px;
  color: rgb(105, 130, 135);
  margin-bottom: 3px;
  border: 1px solid rgb(105, 130, 135);
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  box-shadow: 1px 1px 1px rgb(105, 130, 135);
}

#chatInputContainer{
  display: flex;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  /* position: absolute; */
  bottom: 40px;
  border: 3px solid #a0a0a2;
  border-radius: 10px;
}
